.container{
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 200%;
    margin: 10% 20% 20% 20%; 
}

.categorie{
    border: solid black 2px; 
    padding: 10%;
}

.categorie:hover{
    background-color: #a3a3a3;
    text-decoration: underline;
}

p {
    font-size:200%;
    margin: 5%;
}

a{
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 700px) {
    .container{
        display: grid; 
        grid-template-columns: 50% 50%;
        grid-template-rows: 150%;
        margin:10%;
    }
    p {
        font-size:150%;
        margin: 5%;
    }
    }