.img{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    margin-top: 50px;
}

.avant, .apres{
    width:95%;
    margin:20px 10px 10px 10px;
}
.img p{
    margin-left:10%;
    margin-bottom: 2%;
    font-weight: bold;
}