{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='acceuil.css')}}">
{% endblock %}
{% block title %} acceuil {% endblock %}


{% block main %}
    <h1>Bienvenu</h1>
    
    <div class="container">
        <p class="categorie"><a href="{{url_for( templates, filename='listecopro.html')}}">Créer une liste</a></p>
        <p class="categorie"><a href="{{url_for( templates, filename='comparer_liste.html')}}">Mise à jour liste</a></p>
    </div>
{% endblock %}