{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="">
{% endblock %}
{% block title %} MAJ_liste {% endblock %}

{% block main %}
    <h1> mettre à jour ma liste de copropriétaires : </h1>
    <form action="{{ url_for('/MAJliste') }}" method="POST" enctype="multipart/form-data">
        <label for="votre_liste">Déposer votre liste au format .csv :</label>
            <input type="file" name="votre_liste" id="votre_liste" accept=".csv">
        <label for="liste_ics">Déposer la liste ICS au format .csv :</label>
            <input type="file" name="liste_ics" id="liste_ics" accept=".csv">
        <input type="submit" value="transformer mon fichier">
    </form>
    <h2 class="Recommandations"> Recommandations d'usage pour la mise à jour de votre liste : </h2>
    <ul class="Recommandations">
        <li>Ne pas supprimer les colonnes : <strong>code_coproprietaire</strong><strong>code_copropriete</strong><strong>copropriete</strong></li>
        <li>Au lieu de supprimer les copropriétaires à ne plus démarcher, ajoutez une colonne <strong>Démarchage(Oui/Non)</strong></li>
    </ul>
{% endblock %}