{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='dowloads_liste_coproprietaires.css')}}">
{% endblock %}
{% block title %}Télécharger{% endblock %}

{% block main %}
    <h1> Votre liste est prête </h1>
    <div class="container">
        <p> Conservez la colonne <strong>code_coproprietaire</strong> dans votre tableau pour assurer une mise à jour correcte du dossier.</p>
        <img alt="vue du fichier "class="vue_du_fichier" src="{{url_for('static', filename='Apres.png')}}">
        <a href="/downloads"><button class="downloads">Télécharger</button></a>
    </div>
    <h2> Recommandations d'usage pour la mise à jour de votre liste : </h2>
    <ul>
        <li>Ne pas supprimer les colonnes : <strong>code_coproprietaire</strong><strong>code_copropriete</strong><strong>copropriete</strong></li>
        <li>Au lieu de supprimer les copropriétaires à ne plus démarcher, ajoutez une colonne <strong>Démarchage(Oui/Non)</strong></li>
    </ul>
{% endblock %}