<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='logo liste_copropriété.svg')}}" />
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a class="homepage" href="{{url_for('accueil')}}"><img class="logo_accueil" src="{{url_for('static', filename='homepage.svg')}}"></a>
    </header>
    {% block main %}
    {% endblock %}
</body>
</html>