{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='listecopro.css')}}">
{% endblock %}
{% block title %}fichiers CSV {% endblock %}

{% block main %}
    <h1> Transformer la liste copropriétaires d'ICS vers un fichier détaillé </h1>
    <form action="/fichier" method="POST" enctype="multipart/form-data">
        <label for="file_csv">Déposer votre dossier au format .csv :</label>
            <input type="file" name="fichiercsv" id="file_csv" accept=".csv">
        <input type="submit" value="transformer mon fichier">
    </form>
    <div class="img">
        <p>Avant</p><p>Après</p>
        <img alt="exemple avant" class="avant" src="{{url_for('static', filename='Avant.png')}}">
        <img alt="exemple après" class="apres" src="{{url_for('static', filename='Apres.png')}}">
    </div>
    <p>Comment récupérer la liste d'ICS en Excel ? </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-_pPqSnMloM?si=1cXwQW8LRM1koqWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}